.grid {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 800px;
    margin-top: 3rem;
  }
  
  .card {
    margin: 1rem;
    flex-basis: 45%;
    padding: 1.5rem;
    text-align: left;
    color: inherit;
    text-decoration: none;
    border: 1px solid #eaeaea;
    border-radius: 10px;
    transition: color 0.15s ease, border-color 0.15s ease;
  }
  
  .card:hover,
  .card:active {
    color: #0070f3;
    border-color: #0070f3;
    cursor: pointer;
  }
  
  .card h3 {
    margin: 0 0 1rem 0;
    font-size: 1.5rem;
  }
  
  .card p {
    margin: 0;
    font-size: 1.25rem;
    line-height: 1.5;
  }
  .buttons{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
  }
  .gitButton{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 1.5em;
    background-color:  transparent;
    padding: 5px;
    border: 2px solid black; 
    border-radius: 10px;
    width: fit-content;
    cursor: pointer;
    color:black;
  }
  .gitButton:hover .gitIcon {
    background-color: black;
    color: white;
  }
  .gitButton:hover h4 {
    background-color: black;
    color: white;
  }
  .gitButton:hover {
    background-color: black;
    color: white;
  }
  .gitButton h4{
    padding-left: 3px;
  }



  @media (max-width: 600px) {
    .grid {
      width: 100%;
      flex-direction: column;
    }
  }